body{
	overflow-x: hidden;
}
section{
	font-size: 18px;
	height: auto;
	padding: 10px;
	background: linear-gradient(225deg, #e6e6e6, #ffffff);
	font-family: 'Source code pro',monospace;
}
h2{
	border-bottom: 2px solid;
	margin-bottom: 15px;
	font-family:  'Source code pro',monospace;
}
#intro{
	height: auto;
	background-color: #fff !important;
	background-image: none;
	box-shadow:-1px -2px 20px 0px #0c0c0c,
	 0px -1px 15px #0e0e0e;
	border-radius: 5px;
}
.about-us{
	height: auto;
	flex-wrap: wrap;
	background-color: #fff !important;
	background-image: none;
	border-radius: 5px;
}
.img-text{
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	display: flex;
	max-width: 1080px;
	padding: 8px;
	margin-bottom: 8px;
	justify-content: space-between;
}
/*paragraph*/
.intro-para{
	opacity: 0;
	display: inline;
	transform: translateX(-100px);
	margin-top: 5px;
	transition: transform 1500ms ease-out;
}
.abt-para{
	opacity: 0;
	transform: translateX(100px);
	margin-top: 5px;
	transition: transform 1500ms ease-out;
}
.blazing-fire-img{
	display: inline;
	margin-bottom: 20px;
	max-width: 250px;
	height: auto;
	max-height: 350px;
	transition:opacity .3s ease-in;
	margin: 20px;
	/*animation-delay: .8s;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-name: blazing-image;*/
	border-radius: 20px;
	box-shadow:  -1px 2px 32px #0c0c0c29,
		 16px -16px 32px #0e0e0e47
}
.first-img{
	display: flex;
	width: auto;
	flex-direction: row;
	padding-right: 15px;
}
.about-content{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.blazing-fire{
	opacity: 0.2;
	transform: translateX(-100px);
	transition: transform 800ms ease-in-out;
}
.blazing-fire-1{
	opacity: 0.2;
	transform: translateY(-100px);
	transition: transform 1200ms ease-in-out;
}
.blazing-fire-2{
	opacity: 0.2;
	transform: translateY(-100px);
	transition: transform 1450ms ease-in-out;
}
.blazing-fire-3{
	opacity: 0.2;
	transform: translateX(100px);
	transition: transform 1600ms ease-in-out;
}
.e-btn{
	display: inline;
}
.abt-img-1{
	border-radius: 10px;
	opacity: 0;
	transform: translateX(-100px);
	transition:opacity 200ms ease, transform 800ms ease-in-out;
}
.abt-img-2{
	border-radius: 10px;
}
.show{
	opacity: 1;
	transform: translate(0,0);
}
section button{
	padding: 15px;
	outline: none;
	cursor: pointer;
	font-family:'Cedarville Cursive', cursive;
	background: black;
	font-size: 15px;
	font-weight: 24px;
	color: white;
	border: none;
	border-radius: 5px;
	display: inline;
	transition: .8s ease-in-out;
}
section button i{
	transition: .2s ease-in-out;
	position: relative;
	margin-top: 5px;
}
section button:hover i{
	transform: translateX(50%);
}
/* keyframes animation */
@keyframes blazing-image{
	0%{
		margin-top: 0;
	}
	25%{
		margin-top: 10px;
	}
	50%{
		margin-top: 15px;
	}
	75%{
		margin-bottom: 10px;
	}
	100%{
		margin-top: 0;
	}
}
@media screen and (max-width:500px){
	.img-text{
		flex-wrap: wrap;
		flex-direction: column;
	}
	#intro{
		height: auto;
	}
	.blazing-fire-img{
		animation:none;
		width: 150px;
		height: 150px;
		box-shadow: 1px -1px 0px 0px #0c0c0c,
		 2px 14px 32px #0e0e0e;
	}
	.about-content{
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.abt-img-2{
		max-width: 310px;
	}
	.first-img{
		flex-wrap: wrap;
	}
}
@media screen and (max-width:800px){
	.img-text{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.first-img{
		flex-wrap: wrap;
	}
	.about-content{
		flex-direction: column;
		flex-wrap: wrap;
	}
}
@media screen and (max-width:1200px){
	.first-img{
		flex-wrap: wrap;
	}
}