{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
	<script src="{% static 'js/fontawesomelocal-kit.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
	{% block head %}
	{% endblock %}
</head>
<body>
	<nav id="nav" class="base-nav">
		<span id="nav-header" class="nav-header">
			KapitalKitchen
		</span>
		<ul id='nav-content'>

			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="#order">Order</a>
			</li>
			<li>
				<a href="">Contact-Us</a>
			</li>
			<li>
				<a href="">Locations</a>
			</li>
			
		</ul>
		
	</nav>
	<section id="main-section" class="content-section">
		{% block content %}
		{% endblock %}

	</section>
	<footer id="footer" class="page-footer">
		<div class="test-header">
			<h3>Contact Us</h3>
			<blockquote class="links">
				<small>Mail Us</small>
				<a href="mailto:testemail.ng">kapitalkitchen@gmail.com</a><br>
				<small>Send Message</small>
				<a href="#sendmsg">send message</a><br>
				<small>Complain</small>
				<a href="#complains">
					Make A Complain
				</a><br>
				<small> Check and make</small>
				<a href="#reviews">Reviews</a>
			</blockquote>
		</div>
		<span>
			&copy; 2023 Kapital Kitchen Restaurant
		</span>
	</footer>
	<script type="text/javascript" src="{% static 'js/base.js'%}"></script>
</body>
</html>