{% load static %}
<!DOCTYPE html>
<html lang="en-uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<script src="https://unpkg.com/scrollreveal"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
	<script src="{% static 'js/fontawesomelocal-kit.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
	{% block head %}
	{% endblock %}
</head>
<body>
	<nav id="nav" class="base-nav">
		<span id="nav-header" class="nav-header">
			KapitalKitchen
		</span>
		<ul id='nav-content'>

			<li>
				<a href="">
					<i class="fa-light fa-house-blank" style="display: inline;"></i>
				</a>
				<i class="fa-light fa-house-blank" style="display: inline;"></i>
			</li>
			<li>
				<a href="#order">Explore</a>
			</li>
			<li>
				<a href="">Contact-Us</a>
			</li>
			<li>
				<a href="">Locations</a>
			</li>
			
		</ul>
		
	</nav>
	<section id="main-section" class="content-section">
		{% block content %}
		{% endblock %}

	</section>
	<footer id="footer" class="page-footer">
		<div id="contact" class="test-header">
			<h3>Contact Us</h3>
			<div class="links">
				<header>Mail Us</header>
				<a href="mailto:kapitalkitchenng@gmail.com">Kapital Kitchen</a><br>
				<header>Send Message</header>
				<a href="#sendmsg">send message</a><br>
				<header>Complain</header>
				<a href="#complains">
					Make A Complain
				</a><br>
				<header> Check and make</header>
				<a href="#reviews">Reviews</a>
			</div>
		</div>
		<div id="idc">
			<span>
				Copyrights &copy; | 2023 Kapital Kitchen Restaurant
			</span>
		</div>
	</footer>
	<script type="text/javascript" src="{% static 'js/base.js'%}"></script>
</body>
</html>