{% load static %}
<!DOCTYPE html>
<html lang="en-uk">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<script src="https://unpkg.com/scrollreveal"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}">
	<script src="{% static 'js/fontawesomelocal-kit.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
	{% block head %}
	{% endblock %}
</head>
<body>
	<nav id="nav" class="base-nav">
		<span id="nav-header" class="nav-header">
			KapitalKitchen
		</span>
		<ul id='nav-content'>

			<li>
				<a href="">
					<i class="fa-light fa-house-blank" style="display: inline;"></i>
				</a>
				<i class="fa-light fa-house-blank" style="display: inline;"></i>
			</li>
			<li>
				<a href="#order">Explore</a>
			</li>
			<li>
				<a href="">Contact-Us</a>
			</li>
			<li>
				<a href="">Locations</a>
			</li>
			
		</ul>
		<div class="nav-bar-mb">
			<div class="bar-1"></div>
			<div class="bar-2"></div>
			<div class="bar-3"></div>
		</div>
	</nav>
	<section id="main-section" class="content-section">
		{% block content %}
		{% endblock %}

	</section>
	<footer id="footer" class="page-footer">
		<div class="content">
			<div id="contact" class="test-header">
				<h2>Contacts</h2>
				<div class="links">
					<span>Mail Us</span>
					<a href="mailto:kapitalkitchenng@gmail.com">Kapital Kitchen</a><br>
					<span>Send Message</span>
					<a href="#sendmsg">Send Message</a><br>
					<span>Complain</span>
					<a href="#complains">
						Make A Complain
					</a><br>
					<span> Check and Make</span>
					<a href="#reviews">Review A Product</a>
				</div>
			</div>
			<div class="social" id="social">
				<h2>Social</h2>
				<div class="links">
					<header>Facebook</header>
					<a href="#Facebook">Facebook</a>
					<a href="#Twitter">Twitter</a>
					<a href="#Instagram">Instagram</a>
					
				</div>
				
			</div>
		</div>
		<div id="idc">
			<span>
				Copyrights &copy; | 2023 Kapital Kitchen Restaurant
			</span>
		</div>
	</footer>
	<script type="text/javascript" src="{% static 'js/base.js'%}"></script>
</body>
</html>